email-automation/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "4480157e-0cdf-47a5-84b6-b1de748e1a02",
      "name": "When chat message received",
      "webhookId": "5bbcde9d-7b14-4788-b3fc-15c63a8fc767"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a helpful email assistant, which helps craft effective and succinct emails based on user's instructions. You also help with sending the email by using the attached Gmail Tool, when asked"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "b8fefe91-96a0-4b89-8c47-89afd74f4e9c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        48,
        192
      ],
      "id": "2461ecb8-89a1-4a7c-84da-f1aa5c3e080b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "BGRXJaoNtc98ZP1c",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        192,
        192
      ],
      "id": "339a7b1a-22db-403f-ad10-804eb203bd54",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        368,
        208
      ],
      "id": "5386f2dd-c123-4aa5-a25b-b9d197cd5ad0",
      "name": "Send a message in Gmail",
      "webhookId": "7020938e-c6a4-430a-b3c1-22f7f1bc6ef4",
      "credentials": {
        "gmailOAuth2": {
          "id": "0TRczL9aETbPzdVG",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a853de81-0c64-4668-9e73-bfbbbb7b078c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7baf601859b89d1ad294ea19f482bd980992a46554c4165ec9d1801e8566c4fc"
  },
  "id": "Elt0V-KGXeYKr2dihm1tT",
  "tags": []
}